.form-wrapper
  .top
  .bar
    .colors
  #result
  form(name='form', action='#')
    .form
      .form-item
        input(type='text', name='text', required='required', placeholder='ユーザー名', autocomplete='off')
      .form-item
        input(type='password', name='text', required='required', placeholder='パスワード', autocomplete='off')
      .form-item
        input(type='password', name='password', required='required', placeholder='パスワード再入力', autocomplete='off')
      .button-panel
        input.button(type='submit', title='Sign In', value='登録')
