extends layout

block content
	.menu
		div.list-group
			a(href="/tasks", class="list-group-item") Todo List
			a(href="/tasks/completed", class="list-group-item active") Completed


	h1=title
	.list
		if (tasks.length === 0)
			| No tasks.
		ul.list-group
		each task, index in tasks
			li.list-group-item
				div.num
					span.name=index+1
					task.name.completed-task=task.name